<section class='mat-typography'>
  <h2 fxLayoutAlign='center' class='mt-2'>Virtual Money</h2>
</section>
<section fxLayoutAlign='center' class='p-2'>
<img src='http://en.finance.sia-partners.com/sites/default/files/styles/700x400/public/post/visuels/istock_000046835322_medium_3.jpg?itok=r7d2N5R_'
     alt='virtualMoney'
     class='center'>
</section>
<section class='mat-typography'>
  <div fxLayout='column' fxLayoutAlign='center' class='mx-4'>
    <div class='mb-1'>
      This is a 'Virtual Money' system.
      Users can send to each other an amount of virtual money.
      Each user from the beginning has 500 units on his balance.
      Each transaction is stored in database and can be viewed on '/history' page.
    </div>
    <div>
        This project demonstrates a way to communicate between backend and frontend being protected by an autorization token.
        During the login process frontend recieves that token and after that constantly sends this token in headers in all successive requests.
    </div>
  </div>
</section>
